<% provide :title, t("home.title") %>
<div class="home-container">
  <%= render "static_pages/slider" %>
  <div class="main-content">
    <div class="title-bar">
      <h3>
        <%= link_to "Phim mới cập nhật", new_releases_path %>
      </h3>
    </div>
    <% @new_films.each_with_index do |film, index| %>
      <% if index == 0 %>
        <div class="item-first"><%= render 'layouts/item',film: film %></div>
      <% else %>
        <%= render 'layouts/item',film: film %>
      <% end %>
    <% end %>
    <div class="title-bar">
      <h3>
        <%= link_to "Phim xem nhiều", top_view_path %>
      </h3>
    </div>
    <% @top_view_films.each_with_index do |film, index| %>
      <% if index == 0 %>
        <div class="item-first"><%= render 'layouts/item',film: film %></div>
      <% else %>
        <%= render 'layouts/item',film: film %>
      <% end %>
    <% end %>
  </div>
</div>