<% provide :title, t("home.title") %>
<div class="content">
  <%= render "layouts/filter" %>
  <%= render "layouts/film" %>
  <%= render "layouts/film" %>
  <%= render "layouts/film" %>
  <%= render "layouts/film" %>
  <%= render "layouts/film" %>
  <%= render "layouts/film" %>
  <%= render "layouts/film" %>
  <%= render "layouts/film" %>
  <%= render "layouts/film" %>
</div>
<%= render "layouts/sidebar" %>