<div class = "comments-container" id="<%= comment.id %>">
  <div class="comment-container">
    <div class="user-avatar">
      <%= image_tag comment.user.avatar %>
    </div>
    <div class="comment">
      <div class="user-name">
        <b>
          <%= link_to comment.user.name, comment.user, class: "a-active" %>
        </b>
      </div>
      <div class="comment-content">
        <%= comment.content %>
      </div>
      <div class="comment-bar">
        <em class='date'>
          <%=  check_time comment %>
        </em>
        <em class="report">
          report
        </em>
        <em class="reply-count">
          <%= comment.replies.count %>
        </em>
        <em class="reply-click" id="<%= comment.id %>">
          Reply
        </em>
      </div>
    </div>
  </div>
  <div class="replies-container none" id="reply-<%= comment.id %>" >
     <% comment.replies.all.each do |reply| %>
         <div class="comment-container">
            <div class="user-avatar">
              <%= image_tag reply.user.avatar %>
            </div>
            <div class="comment">
              <div class="user-name">
                <b>
                  <%= link_to reply.user.name, reply.user, class: "a-active" %>
                </b>
              </div>
              <div class="comment-content">
                <%= reply.content %>
              </div>
              <div class="comment-bar">
                <em>
                  <%=  check_time reply %>
                </em>
                <em class="report">
                  report
                </em>
                <em class="reply-reply-click" id="<%= reply.id %>">
                  Reply
                </em>
              </div>
            </div>
          </div>
     <% end %>
  </div>
</div>