<style>
  .item-seach{
    display: flex;
    flex-direction: row;
    background-color: rgba(92, 92, 156, 0.8); 
    margin-top: 2px;
  }
  header .item-seach{
    height: 46px;
  }
  .form-film-upload .item-seach{
    height: 30px;
  }
  .item-seach .name{
    height: 100%;
    width: 85%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
  }
  .item-seach .name a{
    color: rgb(190, 231, 170);
    font-size: 12px;
    float: right;
  }
  .item-seach .picture{
    width: 15%; 
    height: 100%; 
  }
  .item-seach .picture img{
    height: 100%;
    width: 100%;
   }
  .item-seach:hover{
    background-color: rgba(80, 58, 58, 0.9);
  }
</style>
<% @results.each do |result| %>
  <div class="item-seach">
      <div class = "picture">
        <% if result[:type].nil? %>
          <%= link_to image_tag(result.pictures[0].small_thumb.url), result %>
        <% else %>
          <%= link_to image_tag('none.png'), result %>
        <% end %>
      </div>
      <div class="name">
        <span><%= result.name %></span>
        <br/>
        <%= result[:type]||"film" %> <%= link_to "more..", result %>
      </div>
  </div>
<% end %>