<%= render "layouts/breadcrumb" %>
<div class = "play-container">
  <div class="video-container">
    <% if @episode.number == 0 %>
      <%= render 'episodes/trailer' %>
    <% else %>
      <%= render 'episodes/video' %>
    <% end %>
  </div>
  <div class="episodes-bar">
      <div><b>Danh sách</b></div>
      <% @film.episodes.order(number: :asc).each do |episode| %>
        <div>
          <%= link_to episode.number, film_episode_path(@film, episode) %>
        </div>
      <% end %>
  </div>
  <div class="flex-row">
    <div class="conversation flex-col">
      <%= render @comments %>
    </div>
  </div>
</div>
