<div id="description-container">
  <dl>
    <div class="cover-container">
      <%= link_to image_tag(@film.pictures.url||"default-thumb.jpg"), film_episode_path(@film,
          @film.episodes.first) %>
      <%= link_to "Xem Phim",  film_episode_path(@film, @film.episodes.first),
            class: "button-watch"%>
    </div>
    <dd><strong><%= @film.name %><strong></dd><br>
    <dt>Tập mới: </dt>
      <dd><% @episodes.each_with_index do |episode, index| %>
        <%= link_to episode.name, film_episode_path(@film, episode), class: "a-active" %>
        <%= "," if index + 1< @episodes.count  %>
      <% end %>
    </dd><br>
    <dt>Trạng thái:</dt><dd><%= @film.status %></dd><br>
    <dt>Ngày cập nhật:</dt>
    <dd>
      <%= @film.episodes.order(updated_at: :desc).first.updated_at
            .strftime("%Y-%m-%d %H:%M") %>
    </dd><br>
    <dt>tổng số tập: </dt><dd><%= @film.total_episodes||"??" %></dd><br>
    <dt>Thể loại: </dt>
    <dd><%= render 'films/feature', features: @film.categories %></dd><br>
    <dt>Năm phát hành: </dt>
    <dd><%= link_to @film.release, search_path(year: @film.release) %></dd><br>
    <dt>Hãng phim: </dt>
    <dd><%= render 'films/feature', features: @film.studios %></dd><br>
    <dt>Đạo diễn: </dt>
    <dd><%= render 'films/feature', features: @film.directors%></dd><br>
    <dt>Diễn viên: </dt>
    <dd><%= render 'films/feature', features: @film.artists %></dd><br>
    <dt>Lượt xem: </dt>
    <dd><%= @film.view.year_views %></dd><br>
    <dt>Đánh giá: </dt>
    <dd><b><%= @film.rate.average %></b> trên <%= @film.rate.number_voter %> lượt bình chọn</dd><br>
    <%= render 'layouts/rating' %><br>
    <dt>Nội dung: </dt>
    <dd><%= @film.description %></dd><br>
  </dl>
</div>
