<div class="item-container">
  <div class="episode"></span>11/12</span></div>
  <div class="viewed">
    <%= image_tag "view-icon.png"%><span><%= film.all_views %></span>
  </div>
  <div class = "cover">
    <%= link_to image_tag(film.cover), film %>
  </div>
  <div class="read-me"></div>
  <div class="intro">
    <b><%= film.name %></b><br/>
    <br/>
    <%= film.intro %>
  </div>
  <div class="title">
    <%= link_to film.name, film %>
  </div>
</div>