<div class="rate-container">
  <p><b>User rating</b></p>
  <div class="star">
    <p>
      <%= render 'films/star' %>
    </p>
    <p><%= @film.rates %> average based on <%= @rate.number_people %> reviews.</p>
  </div>
  <% 5.downto(1) do |n| %>
    <div class="bar-container">
        <b class="left"><%= n %> star</b><i class="right"><%= @rate.send("star_#{n}") %></i>
        <div class= 'bar-hundred'>
          <div class='bar-per bar-<%= n %>'
           style="width: <%= 100*@rate.send("star_#{n}")/@rate.sum %>%"></div>
        </div>
    </div>
  <% end %>
</div>