<div class="main-content">
   <h4>
    <% if @feature %>
      <em><%= @feature.type %> : <%= @feature.name %></em>
    <% else %>
      <em><u>Tìm kiếm</u> : <i><%= @search==""? "all": @search %></i></em>
    <% end %>
    <em>*</em>
    <i> ( <%= @count %> film ) </i>
    <%= render 'layouts/filter' %>
  </h4>
  <% @films.each_with_index do |film, index| %>
    <%= render 'layouts/item',film: film, type: "thumb", id: index %> 
  <% end %>
  <%= paginate @films %>
</div>
