<div class="films-container">
  <%= render "layouts/filter" %>
  <% if @films %>
      <%= paginate @films %>
      <%= render @films %>
      <%= paginate @films %>
  <% elsif %>
      <h2> film not found </h2>
  <% end %>
</div>
<%= render "layouts/sidebar" %>