<div class="main-content">
  <div class="title-bar">
    <% if @feature %>
      <em><%= @feature.type %> : <%= @feature.name %></em>
    <% else %>
      <em>Tìm kiếm : <%= @search==""? "all": @search %></em>
    <% end %>
    <em>*</em>
    <i> ( <%= @count %> kết quả ) </i>
    <%= render 'layouts/filter' %>
  </div>
  <% @films.each_with_index do |film, index| %>
    <%= render 'layouts/item',film: film, type: "thumb", id: index %> 
  <% end %>
  <%= paginate @films %>
</div>
