<div class="form-film-upload">
 <h2> <%= @subtitle %> </h2>
  <%= form_with model: @film, local: true do |form| %>
    <table>
        <tr>
          <th>Tên phim</th>
          <td colspan="2"><%= form.text_field :name %></td>
        </tr>
        <tr>
          <th>tổng số tập: </th>
          <td colspan="2"><%= form.number_field :total_episodes %></td>
        </tr>
        <tr>
          <th>thời lượng/tập: </th>
          <td colspan="2"><%= form.number_field :duration, placeholder: "minute" %></td>
        </tr>
        <tr>
          <th>Trạng thái:</th>
          <td colspan="2"><%= form.select :status, 
                        [["finish", "finish"], ["unfinish", "unfinish"]] %></td>
        </tr>
        <tr>
          <th>Chất lượng</th>
          <td colspan="2"><%= form.select :quality, Settings.filter.quality %></td>
        </tr>
        <tr>
          <th>Năm phát hành: </th>
          <td colspan="2"><%= form.number_field :release , 
                                 value: Time.now.year, in: 1900...2099  %></td>
         </tr>
         <tr>
        <tr>
          <th>thể loại: </th>
          <td  colspan="2">
            <ul class="category">
              <% Category.order(name: :asc).each do |category| %>
                  <li>
                    <%= check_box_tag "categories[]", category.id,
                          check_category(@film,category) %>
                    <i><%= category.name %></i>
                  </li>
              <% end %>
            </ul>
          </td>
         </tr>
            <th>Hãng phim: </th>
            <td colspan="2">
               <%= form.fields_for :studios do |s| %>
                  <div class="studios input-suggest">
                    <%= s.text_field :name %><div class= "result"></div>
                    <span class="delete-field">X</span>
                  </div>
                  <span class="add-field">add</span>
                <% end %>
            </td>
          </tr>
          <tr>
            <th>Quốc gia: </th>
            <td colspan="2">
              <div class="countries input-suggest">
                <%= text_field_tag :country %><div class= "result"></div>
              </div>
              <span class="add-field">add</span>
            </td>
          </tr>
          <tr>
          <th>Đạo diễn: </th>
          <td colspan="2">
            <div class="input-suggest">
              <%= text_field_tag :director %><div class= "result"></div>
            </div>
          </td>
          </tr>
          <tr>
          <th>Diễn viên: </th>
          <td colspan="2">
            <div class="input-suggest">
              <%= text_field_tag :artist %><div class= "result"></div>
            </div>
          </td>
          </tr>
          <tr>
            <th>Nội dung: </th>
            <td colspan="2"><%= form.text_area :description %></td>
          </tr>
          <tr>
          <th>cover: </th>
          <td colspan="2">
            <div class= "image-upload" id="cover-preview">
              <%= form.file_field :pictures, id: "cover-upload", 
                    accept: 'image/jpeg,image/gif,image/png', multiple: true %>
              <div class="preview"><%= image_tag 'cover-icon.jpg' %></div>
            </div>
          </td>
          <tr>
          <tr>
          <th>wallpaper: </th>
          <td colspan="2">
            <div class= "image-upload" id="wallpaper-preview">
              <%= form.file_field :pictures, id: "wallpaper-upload", 
                      accept: 'image/jpeg,image/gif,image/png',  multiple: true %>
              <div class="preview"><%= image_tag 'wallpaper-icon.jpg' %></div>
            </div>
          </td>
          </tr>
          <tr>
            <td>Tập số</td>
            <td>Tên</td>
            <td>link</td>
          </tr>
          <%= form.fields_for :episodes do |e| %>
            <tr class="episodes">
              <td class="col-1"> <%= e.number_field :number, in: 0...10000, 
                    value: 0 %> </td>
              <td class="col-2"> <%= e.text_field :name,
                                                      value: "trailer" %> </td>
              <td class="col-3"> <%= e.text_field :link %> </td>
              <td class="delete-field">X</td>
            </tr>
            
          <% end %>
          <tr class="add-field">
            <th colspan="3">Add episode<th>
          </tr>
    </table>
    <p><%= form.submit "create film" %></p>
  <% end %>
</div>