<div class="form-film-upload">
  <%= form_with model: @film, local: true do |form| %>
    <p>Tên phim</p>
    <p><%= form.text_field :name %></p>
    <p>thời lượng/tập</p>
    <p><%= form.number_field :duration, placeholder: "minute" %></p>
    <p>Năm phát hành</p>
    <p><%= form.number_field :release , value: Time.now.year, in: 1900...2099  %></p>
    <p>Số tập</p>
    <p><%= form.number_field :total_episodes %></p>
    <p>Chất lượng</p>
    <p><%= form.select :quality, Settings.filter.quality %></p>
    <p>Tình trạng</p>
    <p><%= form.select :status, [["finish", "finish"], ["unfinish", "unfinish"]] %></p>
    <p>cover</p>
    <div class= "image-upload" id="cover-preview">
       <%= form.file_field :pictures, id: "cover-upload", 
              accept: 'image/jpeg,image/gif,image/png', multiple: true %>
      <div class="preview"><%= image_tag 'cover-default.jpeg' %></div>
    </div> 
    <p>wallpaper</p> 
    <div class= "image-upload" id="wallpaper-preview">
      <%= form.file_field :pictures, id: "wallpaper-upload", 
              accept: 'image/jpeg,image/gif,image/png',  multiple: true %>
      <div class="preview"><%= image_tag 'cover-default.jpeg' %></div>
    </div>
    <p>Mô tả</p>
    <p><%= form.text_area :description, cols: 80, rows: 8 %></p>
    
    <p>Thể loại </p>
    
    <ul class="category">
      <% Category.order(name: :asc).each do |category| %>
          <li>
            <%= form.check_box "categories",{ multiple: true }, category.id,
                  false %>
            <i><%= category.name %></i>
          </li>
      <% end %>
    </ul>
    <p> Hãng phim </p>
    <div class="input-suggest">
      <%= text_field_tag :studio %>
      <div class= "result" id="result-studio"></div>
    </div>
    <p> Quốc gia </p>
    <div class="input-suggest">
      <%= text_field_tag :country %>
      <div class= "result" id="result-country"></div>
    </div>
    <p> Đạo diễn </p>
    <div class="input-suggest">
      <%= text_field_tag :director %>
      <div class= "result" id="result-director"></div>
    </div>
    <p> Diễn viên </p>
    <div class="input-suggest">
      <%= text_field_tag :artist %>
      <div class= "result" id="result-artist"></div>
    </div>
    <p>Tập phim</p>
    <table id="film-episodes">
      <tr>
        <th>Tập số</th>
        <th>Tên</th>
        <th>link</th>
        <th></th>
      </tr>
      <%= form.fields_for :episodes do |e| %>
      <tr class="episodes-input">
        <td class="col-1"> <%= e.number_field :number, in: 0...10000, class: "number", value: 0 %> </td>
        <td class="col-2"> <%= e.text_field :name, class: "name", value: "trailer" %> </td>
        <td class="col-3"> <%= e.text_field :link, class: "link" %> </td>
        <td class="delete-episode">X</td>
      </tr>
      <% end %>
    </table>
    <b class="add-episode">Add+</b>
    <p><%= form.submit "create film" %></p>
  <% end %>
</div>