<div class= "filters"> 
<ul class="bar">
    <%= form_tag method: :get do %>
      <li class="drop">
          <div class = "click">
          <%= content_tag :button, type: :button do %>
          Categories<b></b>
          <% end %>
          </div>
          <ul class="menu tab">
            <% @categories.each do |category| %>
                <li>
                    <%= check_box_tag "genres[]", category.id, false,
                          id: category.id %>
                    <span><%= category.name %></span>
                </li>
            <% end %>
          </ul>
      </li>
      <li>
        <%= select_tag "sort", options_for_select(Settings.filter.sort_movies, 
              Settings.filter.sort_movies.first) %>
      </li>
      <li class="process">
        <%= select_tag "progress", options_for_select(Settings.filter.progress,
              Settings.filter.progress.first) %>
      </li>
      <li class="year">
        <%= select_tag "years", options_for_select( Settings.filter.years,
             Settings.filter.years.first) %>
      </li>
      <li>
        <%= submit_tag "Filter"%>
      </li>
    <% end %>
</ul>
</div>