<header>
  <div class = "nav">
    <ul class="bar">
      <li class="left bold">
        <%= link_to "Home", root_path %>
      </li>
      <li class="left">
        <div class = "click" >Genres</div>
        <ul class="menu tab">
          <% @categories.each do |category| %>
              <li> <%= link_to category.name, search_path(genre: category.name) %> </li>
          <% end %>
        </ul>
      </li>
      <li class="left">
        <div class = "click">Nations</div>
        <ul class="menu tab">
            <% @countries.each do |nation| %>
                <li> <%= link_to nation.name, search_path(country: nation.name) %> </li>
            <% end %>
        </ul>
      </li>
      <% if logged_in? %>
        <li class="navbar right">
          <div class = "click" >
            <%= image_tag(current_user.avatar||"avatar-default.png") %>
          </div>
          <ul class="menu col">
            <li class= "hide right">
              <%= link_to "My film", current_user %>
            </li>
            <li class= "hide right">
              <%= link_to "Profile", current_user %>
            </li>
            <li>
              <%= link_to "Setting", edit_user_path(current_user) %>
            </li>
            <li>
              <%= link_to "Logout", logout_path, method: :delete %>
            </li>
          </ul>
        </li>
        
        <li class= "show right">
          <%= link_to "Profile", current_user %>
        </li>
        <li class= "show right">
          <%= link_to "My film", current_user %>
        </li>
      <% elsif %>
        <li class="navbar right hide">
          <div class = "click" >
            <%= image_tag "navbar.png" %>
          </div>
          <ul class="menu col">
            <li>
              <%= link_to "Login", signin_path %>
            </li>
            <li>
              <%= link_to "Sign Up", signup_path %>
            </li>
          </ul>
        </li>
        <li class= "show right">
          <%= link_to "Sign Up", signup_path %>
        </li>
        <li class= "show right">
          <%= link_to "Login", signin_path %>
        </li>
      <% end %> 
      
      <li class= "notices right">
        <div class = "click" ><%= image_tag("notice-icon.png") %></div>
        <ul class="menu tab">
            <% @notices.each do |notice| %>
                <li> <%= link_to notice.title, notice.link %> </li>
            <% end %>
            <li> <%= link_to "Ban hien khong co bat ki thong bao nao", "#" %> </li>
        </ul>
      </li>

      <li class="search left">
        <div id="form-search">
          <%= form_tag search_path, method: :get, id: "search" do%>
            <%= text_field_tag :search %>
            <%= submit_tag ""%>
          <% end %>
          <div id="result">
          </div>
          <div id="filter-icon" >
            <%= image_tag "filter-icon.png" %>
          </div>
        <div>
      </li>
    </ul>
    </div>
</header>