<header>
  <nav>
    <ul>
      <li class="float-l">
        <%= link_to "Home", root_path %>
      </li>
      
      <li class="genres float-l">
        <div class = "click" >Genres</div>
        <ul class="menu none">
          <% @categories.each do |category| %>
              <li> <%= link_to category.name, category %> </li>
          <% end %>
        </ul>
      </li>

      <% if logged_in? %>
        <li class="navbar float-r">
          <div class = "click" >
            <%= image_tag(current_user.avatar||"avatar-default.png") %>
          </div>
          <ul class="menu none">
            <li class= "hide">
              <%= link_to "My film", current_user %>
            </li>
            <li class= "hide">
              <%= link_to "Profile", current_user %>
            </li>
            <li>
              <%= link_to "Setting", edit_user_path(current_user) %>
            </li>
            <li>
              <%= link_to "Logout", logout_path, method: :delete %>
            </li>
          </ul>
        </li>
        
        <li class= "show float-r">
          <%= link_to "Profile", current_user %>
        </li>
        <li class= "show float-r">
          <%= link_to "My film", current_user %>
        </li>
      <% elsif %>
        <li class="navbar float-r ">
          <div class = "click" >
            <%= image_tag "navbar.png" %>
          </div>
          <ul class="menu none">
            <li class="float-r hide">
              <%= link_to "New", new_film_path %>
            </li>
            <li>
              <%= link_to "Login", signin_path %>
            </li>
            <li>
              <%= link_to "Sign Up", signup_path %>
            </li>
          </ul>
        </li>
      <% end %> 
      
      <li class= "notices float-r">
        <div class = "click" >Notices</div>
        <ul class="menu none">
            <% @notices.each do |notice| %>
                <li> <%= link_to notice.title, notice.link %> </li>
            <% end %>
            <li>
              <%= link_to "Ban hien khong co bat ki thong bao nao", "#" %>
            </li>
        </ul>
      </li>
      
      <li class="float-r show">
        <%= link_to "New", new_film_path %>
      </li>

      <li id = "magnify" class= "click float-l">
      </li>
      <li class="search-container float-l <%= @search?'' : 'none'%>">
         <%= render 'layouts/search' %>
      </li>
    </ul>
  </nav>
</header>