<header>
  <div class="wallpager">
   
  </div>
  <div class = "nav">
    <ul class="bar">
      <li class="left bold">
        <%= link_to "Home", root_path %>
      </li>
      <li class="left">
        <div class = "click" >Genres</div>
        <ul class="menu tab">
          <% @categories.each do |category| %>
              <li> <%= link_to category.name, films_path(genre: category.name) %> </li>
          <% end %>
        </ul>
      </li>
      <li class="left">
        <div class = "click">Nations</div>
        <ul class="menu tab">
            <% @countries.each do |nation| %>
                <li> <%= link_to nation.name, films_path(country: nation.name) %> </li>
            <% end %>
        </ul>
      </li>

      <li class="avatar right">
          <div class = "click" ><%= image_tag("avatar-default.png") %></div>
          <ul class="menu col">
            <li class="hide">
              <%= link_to "Bookmark", "#" %>
            </li>
            <li class= "hide">
              <%= link_to "Profile", "#" %>
            </li>
            <li>
              <%= link_to "Setting", "#" %>
            </li>
            <li>
              <%= link_to "Logout", "#", method: :delete %>
            </li>
          </ul>
      </li>

      <li class= "notices right">
        <div class = "click" ><%= image_tag("notice-icon.png") %></div>
        <ul class="menu tab">
            <% @notices.each do |notice| %>
                <li> <%= link_to notice.title, notice.link %> </li>
            <% end %>
            <li> <%= link_to "Ban hien khong co bat ki thong bao moi nao", "#" %> </li>
        </ul>
      </li>

      <li class= "show right">
        <%= link_to "Profile", "#" %>
      </li>

      <li class= "show right">
        <%= link_to "Bookmark", "#" %>
      </li>

      <li class="search left">
        <%= form_tag method: :get do %>
          <%= text_field_tag :input_search, nil, placeholder: "Search.." %>
          <%= submit_tag ""%>
        <% end %>
      </li>
    </ul>
    </div>
</header>