<%= content_tag :div, class: "item transit-short shade", title: film.name  do %>
  <div class="cover">
    <%= image_tag film.pictures.thumb.url||"default-thumb.jpg" %>
  </div>
  <div class="ribbon fade hidden"></div>
  <div class="subtitle">
    <strong><%= film.name %></strong>
  </div>
  <%= render 'layouts/star', rate: film.rate %>
  <em class="views">
    <%= image_tag "eye.png" %>
    <%= film.view.year_views %>
  </em>
  <b class="status"><%= film.episodes.count %> / <%= film.total_episodes %></b>
  <%= link_to image_tag("button-play.png"), film, class: "button-play fade hidden" %>
<% end %>