<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all',
     'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
      'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="background">
        <div class="ads-1 left">
            <%= image_tag 'column-left.jpg' %>
        </div>
        <div class="container">
          <%= render "layouts/header" %>
          <div class="content">
            <% flash.each do |message_type, message| %>
                <div class="alert alert-<%= message_type %>">
                  <i><%= message %></i>
                </div>
            <% end %>
            <%= yield %>
          </div>
          <%= render "layouts/sidebar" %>
          <%= render "layouts/footer" %>
        </div>
        <div class="ads-1 right">
          <%= image_tag 'column-right.jpg' %>
        </div>
      </div>
  </body>
</html>
